<%- include("partials/header"); -%>

<h1>Contact</h1>

<p>
  <%= contactContent %>
  </p>

<div class="contact">
<h4><b>E:</b> <a href="mailto:nbwebdevtesting@outlook.com">nbwebdevtesting@outlook.com</a></h4>
<h4><b>T:</b> 065893 856328 </h4>
<h4><b>Address:</b> Random St, Quaint Village, Far Far Away, XU95 8BB</h4>
</div>

<%- include("partials/footer"); -%>
